{%- set languages = {
  'et':{
    '_language': 'Estonian',
    'and': 'ja',
    'in': 'pärast',
    'ago': 'tagasi',
    'now': 'praegu',
    'lose': 'kaota',
    'gain': 'võida',
    'time':{
      'format': '24-hr',
      'year': [
        'a',
        'aasta',
        'aastat',
      ],
      'week': [
        'ndl',
        'nädal',
        'nädalat',
      ],
      'day': [
        'p',
        'päev',
        'päeva',
      ],
      'hour': [
        't',
        'tund',
        'tundi',
      ],
      'minute': [
        'm',
        'minut',
        'minutit',
      ],
      'second': [
        's',
        'sekund',
        'sekundit',
      ],
    },
    'delta':{
      'today': 'täna',
      'tomorrow': 'homme',
      'yesterday': 'eile',
      'next': 'järgmine',
      'last': 'viimane',
    },
    'days':[
      "Esmaspäev",
      "Teisipäev",
      "Kolmapäev",
      "Neljapäev",
      "Reede",
      "Laupäev",
      "Pühapäev",
    ],
    'months':[
      'Jaanuar',
      'Veebruar',
      'Märts',
      'Aprill',
      'Mai',
      'Juuni',
      'Juuli',
      'August',
      'September',
      'Oktoober',
      'November',
      'Detsember',
    ]
  }
